/* #ee4035 • #f37736 • #fdf498 • #7bc043 • #0392cf */
html {
	background-color: antiquewhite;
}

body {
	width: 450px;
	height: 100vh;
	margin: 0 auto;
	background-color: #fdf498;
	color: blanchedalmond;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #ee4035;
}
h1 {
    font-size: 1rem;
	text-align: center;
	display: inline-block;
}

.logo {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2rem;
	border-radius: 200px;

	overflow: hidden;
	/* border: 1px solid blue; */
	/* text-align: center; */
	display: inline-block;
	padding-top: -20px;
	padding-bottom: 20px;
	width: 30px;
	height: 25px;	
	margin: 1rem;
}

#playerForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 75vh;

	/* flex-flow: row wrap; */
}

.playerInput {
	height: 2rem;
	margin: 1rem;
	border-radius: 4px;
	border: none;
}

#playerForm button {
	width: 5rem;
	height: 2rem;
	margin: 1rem;
	border-radius: 4px;
	background: #7bc043;
}

#letter-string {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.letter {
	border: 2px solid black;
	background-color: black;
	font-size: 1.5rem;
	font-family: "Courier New", Courier, monospace;
	color: white;
	width: 1rem;
	height: 2rem;
	padding-top: 3px;
	border-radius: 4px;
	margin: 1px;
	display: inline-block;
	text-align: center;
	caret-color: transparent;
}

#player-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem 0;
}
#player-display div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#player-display p {
	width: 10rem;
	margin: 0.5rem;
	padding: 3px;
	background-color: beige;
	color: green;
	text-align: center;
}

#player-display .turn {
	background-color:  #7bc043;
	color:beige;
}

#player-display .score {
	background-color:  beige;
	color:green;
	max-width: 3rem;
	text-align: center;
	align-self: center;	
}

#letter-form {
	display: flex;
	flex-direction: column;
}

#letter-form div {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#letter-form div input[type="text"] {
	font-size: 2rem;
	height: 3rem;
	width: 2rem;
	background-color: black;
	border-radius: 10px;
	color: antiquewhite;
	text-align: center;
	border: none;
}

#letter-form input[type="submit"] {
	padding: 0.5rem;
	background-color: green;
	color: antiquewhite;
	border: none;
	border-radius: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 10rem;
	margin: 1rem auto;
}

div.challenge-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#no-word, #complete-word{
	width: 10rem;
	border-radius: 10px;
	background-color: #ee4035;
	color: beige;
	padding: 0.5rem;
	border: none;
	margin-top: 3rem;
	margin: 3rem 1rem;

}

.challenge {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	background-color: #ee4035;
	color: #fdf498;
	border:3px solid indianred;
	border-radius: 10px;
	padding: 1rem;
}

.modal-button {
	margin: 1rem auto;
}

@media (max-width: 450px){
	body {
		width: 100vw;
	}
}